/* Enter your custom styles here */


/*.sapUiRespGrid.sapUiRespGridHSpace1.paddingGrid {
    padding: .1rem 2rem;
}*/


/*@font-face {
    font-family: 'FontName';
    src: url('FileName.eot');
    src: url('FileName.eot?#iefix') format('embedded-opentype'), url('FileName.woff') format('woff'), url('FileName.ttf') format('truetype'), url('FileName.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}*/

.paddingGrid {
    padding: 0.1rem 2rem !important;
}


/*.customInput1 .sapMInputBaseInner {
    background-color: #227ccc !important;
    font-weight: bolder !important;
    font-family: 'Righteous', cursive !important;
    color: white !important;
}*/


/*.customInput .sapMInputBaseInner {
    background-color: seagreen !important;
    font-weight: bolder !important;
    font-family: 'Righteous', cursive !important;
    color: white !important;
}*/


/*.imageHeightMain {
    height: 3.5rem;
}*/


/*.imageHeightUsed {
    height: 2.5rem;
}*/


/*.customClass .sapMInputDivWrapper {
    height: 2rem;
    width: 80%;
}*/


/*.hBoxPadding {
    padding-left: 50px;
    padding-right: 50px;
}*/


/* varun css changes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~App Level~~~~~~~*/

.app {
    background-color: white !important;
}

.pageHeader {
    background-color: white !important;
}

.pageHeaderIcons {
    font-size: 2.6rem !important;
    vertical-align: middle;
}

.pageHeaderLeftIcons {
    margin-left: 10px !important;
}

.pageHeaderRightIcons {
    margin-right: 10px !important;
}

.pageHeaderCoinsLabel {
    margin-left: 5px;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

.menuButtons .sapMBtnContent {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


/*~~~~Home Page~~~~~~~~*/

.homePageLogoVBox {
    margin: 3rem 0rem;
}

.homePageLogoText {
    color: #fafafa;
    font-size: 4rem !important;
    font-family: 'Righteous', cursive;
    font-style: italic;
    font-weight: 600;
    text-shadow: 6px 6px #333333;
}

.homePageBottomButtonsHBox {
    position: absolute;
    bottom: 0px;
}

.homePageCenterButtons {
    width: 15rem !important;
}

.homePageCenterButtons .sapMBtnInner {
    border-radius: 17px !important;
}

.homePageBottomButtons {
    width: 5rem !important;
}

.homePage>section {
    background-image: linear-gradient(red, #346187);
    background-repeat: no-repeat;
    background-size: cover;
}


/*~~~Journey Page~~~~*/

.journeyPage>section {
    /*background-color: #7e57c2 !important;*/
    background-image: linear-gradient(#7e57c2, #91c8f6);
    background-repeat: no-repeat;
    background-size: cover;
}

.journeyPageTitle {
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
    margin: 1.6rem 0.5rem !important
}

.journeyPageRadioButtons {
    background-color: yellow;
    width: 20rem;
    border-radius: 17px;
    margin: 0.5rem;
}

.journeyPageRadioButtons .sapMRbBLabel {
    width: 100%;
    /*color: white;*/
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
}

.journeyPageMessageStrip {
    margin: 1rem 2.5rem !important;
}

.journeyPageNextButton {
    margin: 0.5rem 3rem !important;
}


/*~~~Levels Page~~~~*/

.levelsPage>section {
    background-image: linear-gradient(#57d687, #a4e191);
    background-repeat: no-repeat;
    background-size: cover;
}

.levelsPageSubheaderBar {
    background-color: #002171 !important;
    border-bottom: solid 3px white !important;
}

.levelsPageTitle {
    color: white !important;
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
}

.levelsPageList>ul {
    margin: 1.5rem 0.5rem;
}

.levelsPageListItems {
    margin: 0.4rem 0rem !important;
    border-radius: 17px;
    height: 7rem;
    border: 2px solid cornflowerblue;
    opacity: 0.9;
    /* background-image: url(../images/Backgrounds/images2.jpg);*/
}

.levelsPageListItems[data-locked=true] {
    background-color: #c7c6c6 !important;
}

.levelsPageList .sapMLIBSelected {
    background: #bbdefb;
    border: black dashed 4px;
}

.levelsPageListItem1 {
    background-color: #bb002f;
}

.levelsPageListItemLabel {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.4rem;
}

.levelsPageListItemScore {
    text-align: left;
    font-size: 1.3rem;
    color: #ff0000;
    margin-top: 0.7rem;
}

.levelsPageListItemProgressIndicator {
    height: 0.1rem;
    margin: 1rem 0.5rem 0rem 0.5rem;
    width: 95% !important;
}


/*Main Page*/

.mainPage>section {
    /*background-color: #bbdefb !important;*/
    /*background-image: url(../images/Backgrounds/mainPage2.jpg);*/
    background-image: linear-gradient(#9961c6, #4d56bd);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPageAttemptsVBox {
    /*margin-top: 1rem;*/
}

.mainPageAttemptsHBox {
    margin-top: 3px !important;
}

.mainPageHintCarousel {
    /*margin: 1rem 0rem;*/
}

.mainPageHintCarousel .sapMScrollContScroll {
    padding-top: 0px !important;
}

.mainPageHintText {
    text-align: center;
    color: #f7f7f7;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

.mainPagePuzzleVBox {}

.mainPageKeyboardVBox {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    padding: 5px;
    /*border-bottom: 4px dashed #2f3c48;
    border-top: 4px dashed #2f3c48;
    background-color: white;*/
}

.mainPageRightCharButton {
    opacity: 1;
}

.mainPageRightCharButton .sapMBtnInner {
    color: #fafafa;
    background: green;
}

.mainPageWrongCharButton {
    opacity: 1;
}

.mainPageWrongCharButton .sapMBtnInner {
    opacity: 1;
    color: #fafafa;
    background: red;
}

.mainPageMovieAlphabetInput .sapMInputBaseInner {
    padding: 0px !important;
    text-align: center !important;
    background-color: #333333;
    color: white;
    font-size: 1.7rem;
    border: 4px white solid;
    font-family: 'Righteous', cursive;
}

.mainPageMovieFirstAlphabetInput .sapMInputBaseInner {
    /*border: 4px white dotted;*/
}

.mainPageEmptyInput {
    opacity: 0;
}

.mainPageKeyboardButtons {
    padding-right: 1px;
    padding-left: 1px;
    width: 38px !important;
}

.mainPageKeyboardButtons .sapMBtnInner {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    border-radius: 10px !important;
    padding: 0px;
}

.customControlWrapperDiv > * {
    display: block;
}

.customControlImage {
    height: 3.5rem;
    transition: all 1s;
}

.customControlLabel {
    color: white;
    font-family: 'Open Sans', serif;
}

.failedDialog {
    border-radius: 20px !important;
}

.passedDialog {
    border-radius: 20px !important;
}


/*Movie Page*/

.moviePage>section {
    /*background-color: #bbdefb !important;*/
    /*background-image: url(../images/Backgrounds/moviePage2.jpg);*/
    background-image: linear-gradient(#ff8888, #abe2ab);
    background-repeat: no-repeat;
    background-size: cover;
}

.moviePageFlexBox {
    height: 100% !important;
    width: 70% !important;
    margin-left: 30% !important;
    padding: 10px !important;
}

.moviePageMovieNameText {
    font-family: 'Righteous', cursive;
    font-style: italic;
    font-weight: 600;
    text-shadow: 6px 6px #333333;
}

.moviePageHintText {
    font-size: 1.1rem !important;
    color: #91c8f6 !important;
    text-shadow: 2px 2px #5c181d !important;
}

.moviePageFooter {
    background-color: #5c181d !important;
    border-top: 0px !important;
}


/*Rules Page*/

.rulesPage>section {
    background-image: linear-gradient(#c5eff5, #9ec376);
    background-repeat: no-repeat;
    background-size: cover;
}

.rulesPageList .sapMSLITitleOnly {
    word-break: break-all !important;
    white-space: pre-wrap !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900;
    font-size: 1.4rem;
}

.rulesPageList .sapMSLI {
    height: 100px;
}


/*settings page*/

.settingsPage>section {
    background-image: linear-gradient(#c5eff5, #9ec376);
    background-repeat: no-repeat;
    background-size: cover;
}

.settingsPageList .sapMILILabel {
    font-weight: 900;
    font-size: 1.5rem;
}

.settingsPageList .sapMILI {
    height: 100px;
}

.settingsPageJourneyLabel {
    font-size: 1.3rem;
    color: chocolate;
    text-decoration: underline;
}


/*Effects and animations*/

.shake {
    color: maroon;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}